body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: #f2f2f2;
}

h1 {
  text-align: center;
  color: #333;
}

#menu {
  text-align: center;
  margin-top: 20px;
}

#start-btn {
  background-color: #2ecc71;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

#start-btn:hover {
  background-color: #27ae60;
}

#game {
  display: none;
  max-width: 300px;
  margin: 20px auto;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  background-color: #fff;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 10px;
}

.cell {
  width: 80px;
  height: 80px;
  background-color: #3498db;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  border: 2px solid #2980b9;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cell:hover {
  background-color: #2980b9;
}

#status {
  text-align: center;
  margin: 20px 0;
  font-size: 18px;
  color: #333;
}

#reset-btn {
  display: block;
  margin: 0 auto;
  background-color: #e74c3c;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

#reset-btn:hover {
  background-color: #c82333;
}

/* Adições para tornar o jogo responsivo */
@media only screen and (max-width: 600px) {
  #board {
    max-width: 100%;
  }
  .cell {
    width: 30vw;
    height: 30vw;
    font-size: 12px;
  }

  #reset-btn {
    width: 100%;
  }
}
